// Import variables
@import "variables";
@import "functions";

html {
    font-size: proportional-text($base-font-size, 320px);
}

button, ion-button { font-size: inherit }
input, ion-input { font-size: inherit }
ion-list-header, ion-item { font-size: inherit }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; 
}

p {
  margin-top: 0;
  margin-bottom: 0; 
}

h1, .h1 {
  font-size: 1.40em;
}

h2, .h2 {
  font-size: 1.32em;
}

h3, .h3 {
  font-size: 1.24em;
}

h4, .h4 {
  font-size: 1.16em;
}

h5, .h5 {
  font-size: 1.08em;
}

h6, .h6 {
  font-size: 1em;
}

label, ion-label {
  font-size: 0.6em !important;
}
