// Import variables
@import "variables";
@import "functions";
@import "overrides";

.justify-items-between {
  display: flex;
  justify-content: space-between;

  & > * {
    flex: 1;
  }
}

.flex {
  display: flex;
}

.justify-flex-end {
  
  justify-content: flex-end;
}

.align-flex-end {
  align-items: flex-end;
}
