ion-header::after {
  background-image: none;
}

ion-toolbar {
  --min-height: 80px;
  position: absolute;
  --background: transparent;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  font-size: 1rem;
  text-align: center;

  p {
    font-size: 0.8em;
  }
}

#banner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #146D73;
  height: 12em;
  padding-top: 2em;  
}

ion-avatar {
  width: 2.2em;
  height: 2.2em;
  background-color: #EEE;
  margin-bottom: 0.4em;
}

.oval {
  position: absolute;
  top: calc(12em * 0.66);
  opacity: 0.98;
  width: 100%;
}

#home-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
}

#home-nav ion-grid {
  .home-nav-btn {
    text-align: center;
  }

  width: 100%;

  ion-row {
    height: 100%;
  }

  ion-col {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ion-item {
    --background: transparent;

    &.selected {
      background-color: rgba(0, 0, 0, 0.1)
    }
  }

  ion-icon {
    width: 1em;
    height: 1em;
  }

  p {
    font-size: 0.7em;
    line-height: 0.7em;
  }

  ion-col:nth-child(2) {
    padding-top: 20px;
  }
}

.coverage-policies {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  margin-top: 2.4em;

  h4 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.coverage-policies ion-grid {
  height: 14em;
  width: 100%;

  ion-row {
    height: 50%;    
  }

  ion-col {
    display: flex;
    justify-content: center;
    align-items: center;      
  }

  ion-icon {
    width: 3em;
    height: 3em;
  }
}

.policy-life {
  fill: #DA1F46;
}

.policy-illness {
  fill: #003946;
}

.policy-medical {
  fill: #01B4BD;
}

.policy-accident {
  fill: #FFCC05;
}

.note {
  font-size: 0.6em;
  font-weight: bold;
}

@media (min-width: 576px) {
  #container {
    font-size: 0.8rem;
  }

  #banner {
    height: 10em;
  }

  .coverage-policies {
    margin-top: 3.4em;
  }

  .oval {
    width: 16em;

    top: calc(10em - 2em);
  }
}

@media (min-width: 992px) {
  #banner {
    height: 8em;
  }  

  .oval {
    width: 16em;

    top: calc(8em - 2em);
  }
}
