ion-header::after {
  background-image: none;
}

ion-toolbar {
  --min-height: 80px;
  position: absolute;
  --background: transparent;
}

#banner {
  display: flex;
  justify-content: center;
  background-color: brown;
  min-height: 220px;
  height: 30vh;
}

ion-avatar {
  width: 1rem;
  height: 1rem;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}