<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button color="primary">
            <ion-icon name="menu" size="large"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="primary">
          <ion-icon name="notifications-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header> -->  

  <div id="container">
    <div id="banner">
      <ion-avatar>
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-text color="light">
        <p>
          Good Afternoon
        </p>

        <h4>
          Chu Ying, Rebecca
        </h4>
      </ion-text>
    </div>

    <ion-img class="oval" src="/assets/oval.svg"></ion-img>
  </div>
</ion-content>
