<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button color="primary">
            <ion-icon name="menu" size="large" color="light"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="primary">
          <ion-icon name="notifications-outline" size="large" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header> -->  

  <div id="container">
    <div id="banner">
      <ion-avatar class="ion-hide-lg-up">
        <img src="https://avatars0.githubusercontent.com/u/1?v=4">
      </ion-avatar>
      <ion-text color="light">
        <p>
          Good Afternoon
        </p>

        <h4>
          Chu Ying, Rebecca
        </h4>
      </ion-text>
    </div>

    <div class="oval">
      <ion-img src="/assets/oval.svg"></ion-img>

      <div id="home-nav">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item button (click)="selectedIndex = 0" [class.selected]="selectedIndex == 0" lines="none">
                <div class="home-nav-btn">
                  <ion-icon name="document-text-outline" color="dark" size="large"></ion-icon>

                  <ion-label color="dark">                  
                    Manage<br>ILAS Funds                    
                  </ion-label>
                </div>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item button (click)="selectedIndex = 1" [class.selected]="selectedIndex == 1" lines="none">
                <div class="home-nav-btn">
                  <ion-icon name="document-text-outline" color="dark" size="large"></ion-icon>

                  <ion-label color="dark">                    
                    Claims                    
                  </ion-label>
                </div>
              </ion-item>
            </ion-col>

            <ion-col>
              <ion-item button (click)="selectedIndex = 2" [class.selected]="selectedIndex == 2" lines="none">
                <div class="home-nav-btn">
                  <ion-icon name="document-text-outline" color="dark" size="large"></ion-icon>

                  <ion-label color="dark">
                    Policy<br>Servicing
                  </ion-label>
                </div>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>

    <div *ngIf="selectedIndex !== 2" id="ilasFunds" class="inner-section">      
      <a [routerLink]="[url]" href="/coverage-from-4-policies" color="dark">
        <div class="text-icon">
          <h4>Coverage from 4 Policies</h4>
          <ion-icon slot="end" name="chevron-forward" size="large"></ion-icon>
        </div>
      </a>      

      <div class="policy-grid">
        <ion-grid>
          <ion-row>
            <ion-col>
              <div>
                <ion-icon name="heart-circle" class="policy-life"></ion-icon>
                <ion-text color="dark">
                  <p class="policy-name">
                    Life
                  </p>

                  <p>
                    <small>HKD 6,146,066</small>
                  </p>
                </ion-text>
              </div>
            </ion-col>
            <ion-col>
              <div>
                <ion-icon name="heart-circle" class="policy-illness"></ion-icon>
                <ion-text color="dark">
                  <p class="policy-name">
                    Critical Illness
                  </p>

                  <p>
                    <small>up to HKD 1,000,000</small>
                  </p>
                </ion-text>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <div>
                <ion-icon name="heart-circle" class="policy-medical"></ion-icon>
                <ion-text color="dark">
                  <p class="policy-name">
                    Medical & Hosp.
                  </p>

                  <p>
                    <small>up to HKD 721,800/year, HKD 600,000/disablity</small>
                  </p>
                </ion-text>
              </div>
            </ion-col>
            <ion-col>
              <div>
                <ion-icon name="heart-circle" class="policy-accident"></ion-icon>
                <ion-text color="dark">
                  <p class="policy-name">
                    Accident
                  </p>

                  <p>
                    <small>up to HKD 1,000,000</small>
                  </p>
                </ion-text>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <ion-text class="note" color="medium" size="small">
        <p>
          *Additional coverages detailed in provision
        </p>
      </ion-text>
    </div>

    <div *ngIf="selectedIndex == 2" id="policyServicing" class="inner-section">      
      <ion-grid>
        <ion-row>
          <ion-col size-xs="10">
            <ion-icon name="document-text-outline" size="large"></ion-icon>
            <ion-list>
              <ion-list-header lines="none">
                <ion-label>Move value from one policy to another</ion-label>
              </ion-list-header>
              <ion-item lines="none">
                <a [routerLink]="[url]" color="dark">
                  <div class="text-icon">
                    <p>Pay with Policy Value</p>
                    <ion-icon color="dark" slot="end" name="chevron-forward" size="large"></ion-icon>
                  </div>
                </a>
              </ion-item>
              <ion-item lines="none">
                <a [routerLink]="[url]" color="dark">
                  <div class="text-icon">
                    <p>Standing Instructions</p>
                    <ion-icon color="dark" slot="end" name="chevron-forward" size="large"></ion-icon>
                  </div>
                </a>
              </ion-item>
            </ion-list>
          </ion-col>

          <ion-col size-xs="10">
            <ion-icon name="document-text-outline" size="large"></ion-icon>
            <ion-list>
              <ion-list-header lines="none">
                <ion-label>Cash out your policy values</ion-label>
              </ion-list-header>
              <ion-item lines="none">
                <a [routerLink]="[url]" color="dark">
                  <div class="text-icon">
                    <p>Value Withdrawal</p>
                    <ion-icon color="dark" slot="end" name="chevron-forward" size="large"></ion-icon>
                  </div>
                </a>
              </ion-item>
              <ion-item lines="none">
                <a [routerLink]="[url]" color="dark">
                  <div class="text-icon">
                    <p>Payout Method</p>
                    <ion-icon color="dark" slot="end" name="chevron-forward" size="large"></ion-icon>
                  </div>
                </a>
              </ion-item>
            </ion-list>
          </ion-col>

          <ion-col size-xs="10">
            <ion-icon name="document-text-outline" size="large"></ion-icon>
            <ion-list>
              <ion-list-header lines="none">
                <ion-label>Take a loan against your policy value</ion-label>
              </ion-list-header>
              <ion-item lines="none">
                <a [routerLink]="[url]" color="dark">
                  <div class="text-icon">
                    <p>Loans</p>
                    <ion-icon color="dark" slot="end" name="chevron-forward" size="large"></ion-icon>
                  </div>
                </a>
              </ion-item>
            </ion-list>
          </ion-col>

          <ion-col size-xs="10">
            <ion-icon name="document-text-outline" size="large"></ion-icon>
            <ion-list>
              <ion-list-header lines="none">
                <ion-label>Payment options for your premiums</ion-label>
              </ion-list-header>
              <ion-item lines="none">
                <a [routerLink]="[url]" color="dark">
                  <div class="text-icon">
                    <p>Premium Payment Method</p>
                    <ion-icon color="dark" slot="end" name="chevron-forward" size="large"></ion-icon>
                  </div>
                </a>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    
  </div>    
</ion-content>
