ion-header::after {
  background-image: none;
}

ion-toolbar {
  --min-height: 80px;
  position: absolute;
  --background: transparent;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  font-size: 1rem;
  text-align: center;

  p {
    font-size: 0.8em;
  }
}

#banner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #146D73;
  height: 12em;
  padding-top: 2em;  
}

ion-avatar {
  width: 2.2em;
  height: 2.2em;
  background-color: #EEE;
  margin-bottom: 0.4em;
}

.oval {
  position: absolute;
  top: calc(12em * 0.66);
  opacity: 0.98;
  width: 100%;
}

#home-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
}

#home-nav ion-grid {
  .home-nav-btn {
    text-align: center;
  }

  width: 100%;

  ion-row {
    height: 100%;
  }

  ion-col {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ion-item {
    --background: transparent;

    &.selected {
      background-color: rgba(0, 0, 0, 0.1)
    }
  }

  ion-icon {
    width: 1em;
    height: 1em;
  }

  p {
    font-size: 0.7em;
    line-height: 0.7em;
  }

  ion-col:nth-child(2) {
    padding-top: 1em;
  }
}

.inner-section {
  margin-top: 2.4em;
}

.text-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

#ilasFunds {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;

  background-image: url("/assets/homebg.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
}

#policyServicing {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;

  ion-row {
    justify-content: center;
  }

  ion-col {
    display: flex;

    border: solid #BBB;
    border-width: 0 0 1px 0;

    & > ion-icon {
      color: #ECB214;
      margin-top: 0.4em;
    }  
  }

  ion-list {
    flex: 1;
    text-align: left;
  }

  ion-label {
    color: #777;
  }

  ion-router-link {
    width: 100%;
  }

  ion-item {
    p {
      flex: 1;
      font-weight: 700;
    }
  }
}

#ilasFunds ion-grid {
  height: 14em;
  width: 100%;

  ion-row {
    height: 50%;    
  }

  ion-col {
    display: flex;
    justify-content: center;
    align-items: center;      
  }

  ion-icon {
    width: 3em;
    height: 3em;
  }
}

.policy-life {
  fill: #DA1F46;
}

.policy-illness {
  fill: #003946;
}

.policy-medical {
  fill: #01B4BD;
}

.policy-accident {
  fill: #FFCC05;
}

.note {
  margin-top: 2em;
  font-size: 0.6em;
  font-weight: bold;
}

@media (min-width: 576px) {
  #container {
    font-size: 0.8rem;    
  }

  #ilasFunds {
    background-position: 0 120%;
  }

  #banner {
    height: 10em;
  }

  .inner-section {
    margin-top: 4.4em;
  }

  #home-nav ion-grid {
    p {
      font-size: 0.8em;
      line-height: 0.8em;
    }
  }

  .oval {
    width: 20em;

    top: calc(10em - 2em);
  }
}

@media (min-width: 992px) {
  #ilasFunds {
    background-size: 20em;
  }

  #banner {
    height: 8em;
  }

  .oval {
    top: calc(8em - 2em);
  }
}
